.slider-container {
  background-color: #419be0;
  padding: 40px;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  background-size: cover;
}

.heading {
  color: #05acff;
  font-size: 26px;
  font-family: 'Roboto';
  font-weight: bold;
  margin-left: 400px;
}
